<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WannnyannRESCUE</title>
</head>
 <body>
   <section class="main-header">
     <%= image_tag "animal.jpg" %>
   </section>
  <section class="about">
  <h1>WannnyannRESCUE</h1>
    <p>
      WannnyannRESCUEは、犬・猫を譲りたい人と引き取りたい人の繋がりアプリケーションです。<br>
      コロナ禍により、犬・猫を飼いたいという人が増えてきているなかで、保護犬・保護猫を引き取ってもらうことで<br>
      一頭でも多くの犬・猫を救いたいと思い開発しました。
    </p>
    <p>
      WannnyannRESCUEは、拾った犬・猫を家で飼えない人や、どうすればいいか分からない人が情報を投稿し、<br>
      引き取りたい人と繋がりやり取りをするアプリケーションです。
    </p>
 </body>
</html>
