/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   position: relative;
   min-height: 100%;
   position: relative;
 }

 body {
   text-align: center;
   background-color: #DCDCDC;
   margin: 0 0 55px 0;
 }

 header{
   height: 50px;
   background-color: #708090;
   color: white;
   width: 100%;
   padding: 10px;
 }

 header ul{
    margin: 0;
  }

 ul{
   list-style: none;
 }

 .left1 {
   text-align: left;
   float: left;
   font-size: 20px;
   font-family:  'arial black',serif;
   padding-top: 15px;
   padding-bottom: 15px;
 }

 .left2 {
   text-align: left;
   float: left;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 40px;
 }

 .right1 {
   text-align: right;
   float: right;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-right: 40px;
 }

 .right2 {
   text-align: right;
   float: right;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-right: 40px;
 }

 footer {
   height: 55px;
   background-color: #708090;
   font-size: 0.8rem;
   color: white;
   width: 100%;
   padding: 0;
   position: absolute;
   bottom: 0;
 }

div {
  display: block;
}

.button005  {
   border-radius: 3px;
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 auto;
   max-width: 130px;
   color: #FFF;
   transition: 0.3s ease-in-out;
   font-weight: 600;
   background: #DDDDDD;
   background: #DDDDDD;
}

.button006 {
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 130px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #AAAAAA;
  background: #AAAAAA;
}

.messeage_field {
  margin: 100px 100px;
}
